
/* Erinevate piltide suurused*/
.seljakott {
    height: 400px;
}

.laud {
    height: 100px;
    margin-top: 200px;
}

.retseptid {
    height: 300px;
}

.valik {
    float: left;
    width: 100%;
    padding: 50px;
    line-height: 1.8;
}

/*Lehe allosas olevate elementide stiilid*/
/* https://www.w3schools.com/howto/howto_js_tabs.asp */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 5px;
  transition: 0.3s;
}

.tab button.active {
    background-color: rgba(204, 204, 204, 0.637);
}
  

.tabcontent {
    display: none;
    padding: 100px 0px;
    border: 1px solid rgba(204, 204, 204, 0.637);
    border-top: none;
}

/*Väikeste tab'ide pildid*/
.tabipildid {
    height:50px;
}

/*Retsepti pilt*/
.pilt {
    width: 250px;
    margin: 10px;
    float: left;
    margin-left:5%;

}

/*Sulgemisrist retsepti kõrval*/
.sulge {
    width:25px;
    float:left;
}