@font-face { font-family: Minecraft-pealkiri; src: url('fonts/Minecraft_pealkiri/MinecraftTen-VGORe.ttf'); } /*https://www.fontspace.com/minecraft-ten-font-f40317*/
@font-face { font-family: Minecraft-tekst; src: url('fonts/Minecraft_text/MinecraftItalic-R8Mo.otf'); } /*https://www.fontspace.com/minecraft-font-f28180*/
@font-face { font-family: Galaktiline; src: url('fonts/Enchanting_table_text/SgaSmoothRegular-DO0Y3.ttf'); } /*https://www.fontspace.com/sga-smooth-font-f44602*/
@font-face { font-family: Noto Sans; src: url('fonts/Noto_Sans/NotoSans-Regular.ttf'); } /*https://fonts.google.com/noto/specimen/Noto+Sans*/
/* kui ma ei eksi, siis see noto sans on minecrafti official veebilehe font*/


body, html {
    color: black;
    height: 100%;
    margin: 0;
}

/*Taustapilt*/
.bg {
    background: url(../Images/lightBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*Dark mode'i taustapilt*/
.dark-mode .bg{
    background: url(../Images/darkBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

/*Fondid ja teksti suurused*/
h1 {
    font-family: "Minecraft-pealkiri", sans-serif;
    font-size: 50px;
    padding: 30px 50px;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "Minecraft-tekst";
}

p {
    font-family: "Noto Sans";
}

/*Need on esimesel real olevad nuppude stiil, "Meisterdamine", "Elukad", dark mode jne*/
.nupud {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
}

/*Üksiku nupu stiil*/
.nupp{
    float: left;
    list-style-type:none;
}
/*Dark mode nupult eemaldada ainult listi täpp ja mitte vasakule viia*/
.nupp2 {
    list-style-type:none;
}

/*Nupu üldine välimus*/
.link, button {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 56px;
    text-decoration: none;
}

/*Dark mode nupule eraldi veel juurde*/
button {
    background-color: rgba(30, 30, 30, 0.5);
    float: right;
}

/*Hiirt nupu kohal hoides värv muutub*/
.link:hover {
    background-color: black;
}

/*Tekstiosa sisu ümber olevad mustad ääred*/
.kast, .kast_viimane {
    margin: 100px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
}

/*Viimasel mustal äärel ilma alumise ääreta, et oleks ilusam*/
.kast_viimane {
    margin-bottom: 0px;

}

/*Teksti joondamine, äärised*/
.tekst {
    float: left;
    width: 53%;
    padding: 50px;
    line-height: 1.8;
    font-size: 20px;
}

/*Lehe lõpus olev jalus*/
footer {
    text-align:center;
    padding:3px;
    background-color: rgba(0, 0, 0, 0.733);
    color:white;
}

/*Kõikidele piltidele:*/
img {
    float: right;
}