@font-face { font-family: Minecraft-pealkiri; src: url('fonts/Minecraft_pealkiri/MinecraftTen-VGORe.ttf'); } /*https://www.fontspace.com/minecraft-ten-font-f40317*/
@font-face { font-family: Minecraft-tekst; src: url('fonts/Minecraft_text/MinecraftItalic-R8Mo.otf'); } /*https://www.fontspace.com/minecraft-font-f28180*/
@font-face { font-family: Galaktiline; src: url('fonts/Enchanting_table_text/SgaSmoothRegular-DO0Y3.ttf'); } /*https://www.fontspace.com/sga-smooth-font-f44602*/
@font-face { font-family: Noto Sans; src: url('fonts/Noto_Sans/NotoSans-Regular.ttf'); } /*https://fonts.google.com/noto/specimen/Noto+Sans*/
/* kui ma ei eksi, siis see noto sans on minecrafti official veebilehe font*/


body, html {
    color: black;
    height: 100%;
    margin: 0;
}

.bg {
    background: url(../Images/lightBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: "Minecraft-pealkiri", sans-serif;
    font-size: 50px;
    padding: 30px 50px;
    margin: 0;
    text-align: center;
}

h2 {
    font-family: "Minecraft-tekst";
}

p {
    font-family: "Noto Sans";
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
}

#nupp{
    float: left;
}

li a, button {
    display: block;
    color: white;
    text-align: center;
    padding: 24px 56px;
    text-decoration: none;
}
button {
    background-color: rgba(30, 30, 30, 0.5);
    float: right;
}

li a:hover {
    background-color: black;
}



.dark-mode .bg{
    background: url(../Images/darkBg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.kast{
    margin: 100px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
}

.kast_viimane {
    margin: 100px;
    margin-bottom: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: rgba(30, 30, 30, 0.7);
    color: white;
}

.tekst {
    float: left;
    width: 53%;
    padding: 50px;
    line-height: 1.8;
    font-size: 20px;
}

footer {
    text-align:center;
    padding:3px;
    background-color: rgba(0, 0, 0, 0.733);
    color:white;

}
