
/*Piltide suurused siin lehel*/
.pealeht {
    width: 680px;
}

.start {
    height: 450px;
}

.craft {
    width: 140px;
    height: 80px;
}

.piltjatekst {
    float:right;
}

.tekstiosa {
    width:60%;
    margin-top:50px;
}

/*Eemaldab esimeselt realt numbri, kuna seal ei peaks olema*/
#rida {
    list-style-type: none;
}
/*Nummerdatud read vajavad eraldi fonti*/
.yks, .kaks, #rida{
    font-family:Noto Sans;
    font-size:16px;
    line-height: 1.5;
    list-style-position: inside;
}

/* Väiksem font alapunktidele*/
.kaks {
    font-size:14px;
}

/*Kitsam tekstikasti laius*/
.tekst {
    width: 30%;
}

/*Tekstikasti laius eemaldatud*/
.tekst3 {
    float: left;
    padding: 50px;
    line-height: 1.8;
    font-size: 20px;
}
